{% extends 'base.html.twig' %}

{% block title %}Hello OrgController!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Organization - {{ org }}</h1>
    <a href="{{ path("app_home") }}">Back</a>
    <h2>Repositories:</h2>
    <ul>
        {% for repo in repos %}
            <li>
                <a href="{{ path("app_pr", {org: org, repo: repo}) }}">
                    {{ repo }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
